/*!
 * Roots 6.5.1
 */

@import "bootstrap/bootstrap.less";

/* ==========================================================================
   Base
   ========================================================================== */

body { }

 *::selection {
     color: #222;
     background: @cor-yellow; /* Safari */
     }
 *::-moz-selection {
     color: #222;
     background: @cor-yellow; /* Firefox */
 }

h1 {
   text-align: center;
}

p,
ul,
ol {
   margin-bottom: 20px;
}

ul {
   list-style-position: inside;
}

a {
   color: darken(@cor-orange, 20%);
   transition: color 300ms linear;
   text-decoration: none;

   blockquote {
      background-color: @cor-orange;
      transition: background-color 300ms linear;
      color: #333;
   }

   &:hover {
      color: @cor-orange;
      text-decoration: none;

      blockquote {
         background-color: lighten(@cor-orange, 20%);
      }
   }

   &.tag-link {
      font-size: 0.7em;
      display: inline-block;
      margin: 0 10px;

      &:before {
         font-family: 'cor-rine-icons';
         display: inline-block;
         content: "\e619";
         margin-right: 5px;
      }
   }

   &.comment-reply-link {
      &:extend(.tag-link);

      &:before {
         font-family: 'cor-rine-icons';
         display: inline-block;
         content: "\e611";
         margin-right: 5px;
      }
   }

   &.comment-edit-link {
      &:extend(.comment-reply-link);
      margin-right: 10px;

      &:before {
         font-family: 'cor-rine-icons';
         display: inline-block;
         content: "\e604";
         margin-right: 5px;
      }
   }

   &.comment-logout-link {
      &:extend(.comment-reply-link);
      display: block;

      &:before {
         font-family: 'cor-rine-icons';
         display: inline-block;
         content: "\e604";
         margin-right: 5px;
      }
   }  
}


aside {
   background: @cor-blue;
   padding: 30px;
   width: 50%;
   float: left;
   margin: 10px 30px 10px 0;
   p {
      color: darken(@cor-blue, 40%);
   }
}



p {
   font-family: @font-family-serif;

   &.tag-link {
      color: @gray;
      font-family: @font-family-sans-serif;
      font-size: 0.7em;
      display: inline-block;
      margin: 0 10px;
      text-transform: uppercase;

      &:before {
         font-family: 'cor-rine-icons';
         display: inline-block;
         content: "\e619";
         margin-right: 5px;
      }
   }

}

span.highlight {
   background: lighten(@cor-yellow, 10%);
}

blockquote {
   background-color: lighten(@cor-green, 20%);
   border: none;
   padding: 50px;
   margin: 0 auto;
   max-width: 1000px;
   overflow: hidden;

   > p {
      font-size: 1.5em;
      text-align: center;
   }

   em {
      float: right;
      font-size: 0.7em;
   }
}

form {
   overflow: hidden;
}


button,
.btn-primary {
   background: @cor-yellow;
   border: none;
   .border-radius(0);
   color: #333;
   font-size: 0.8em;
   font-family: @font-family-sans-serif;
   text-transform: uppercase;
   padding: 10px 25px 10px 17px;
   position: relative;
   transition: background-color 300ms linear;

   &:focus {
      background: darken(@cor-yellow, 10%);
      outline: 0;
   }

   &:hover {
      background: darken(@cor-yellow, 10%);
   }

   &.btn-primary {
      color: #333;
      float: right;
      margin-right: 20px;

      &:after {
         background: darken(@cor-yellow, 10%);
         font-family: 'cor-rine-icons';
         content: "\e639";
         display: inline-block;
         position: absolute;
         right: -20px;
         padding: 10px 7px;
         top: 0;
      }
   }

   &.search-submit {
      border-radius: 0px;
      padding-right: 33px;
      &:before {
         font-family: 'cor-rine-icons';
         float: left;
         content: "\e65b";
         padding: 0;
         margin-right: 5px;
      }
   }
}

.input-group .search-field {
   -webkit-appearance: none;
   border-radius: 0px;
}

a.keep-reading {
   &:extend(button);
   float: right;
   margin-right: 60px;
   -webkit-appearance: inherit;

   &:hover {
      &:extend(button:hover);
      &:after {
         &:extend(button:hover:after);
      }
   }
   &:after {
      background: darken(@cor-yellow, 10%);
      font-family: 'cor-rine-icons';
      content: "\e639";
      display: inline-block;
      position: absolute;
      right: -20px;
      padding: 10px 7px;
      top: 0;
   }
}

input[type=submit] {
   &:extend(button);
   border-radius: 0px;
   color: #000;
   font-family: @font-family-sans-serif;
}

textarea {
   outline: none;
   resize: none;
   overflow: auto;
}

label {
   font-size: 0.7em;
}

.alert-info {
   background-color: lighten(@cor-yellow, 20%);
   color: @cor-orange;
   font-size: 0.5em;
   padding: 5px 20px;
   border-radius: 0;
   border: 0;
   margin-top: 15px;
}

.user-icon {
   .border-radius(100%);
}

.container {
   width: 100%;
}



/* ==========================================================================
   Header
   ========================================================================== */

.banner {
   margin: 0 10%;
   padding: 50px 0 30px;
   text-transform: uppercase;
}

.navbar-header {
   .user-icon {
      margin-right: 20px;
      width: 130px;
   }
}

.navbar-default .navbar-nav {
   float: right;
   margin: 70px 20px 20px;

   li {
      a {
         display: inline;
      }
      &:last-child:after {
         display: none;
      }
      &:after {
         content: '\2022';
         display: inline;
         padding: 5px 0 0;
         webkit-font-smoothing: antialiased;
         vertical-align: top;
      }

      &.active > a {
         color: @cor-yellow;
      }
      
   }
}

.page-header {
   border: none;
}


.pager {

   &:extend(.entry-summary);

   .clearfix();

   li {

      & > a {
         -webkit-appearance: inherit;
         &:extend(button);

         &:focus {
            background: darken(@cor-yellow, 10%);
            outline: 0;
         }

         &:hover {
            background: darken(@cor-yellow, 10%);
         }
      }
      

      &.previous {
         float: left;
         margin-left: 20px;
         a:before {
            background: darken(@cor-yellow, 10%);
            font-family: 'cor-rine-icons';
            content: "\e636";
            display: inline-block;
            position: absolute;
            left: -25px;
            padding: 10px 7px;
            top: 0;
         }
      }

      &.next {
         a:after {
            background: darken(@cor-yellow, 10%);
            font-family: 'cor-rine-icons';
            content: "\e639";
            display: inline-block;
            position: absolute;
            right: -20px;
            padding: 10px 7px;
            top: 0;

         }
      }

   }

}

/* ==========================================================================
   Content
   ========================================================================== */

.content { }

article {
   margin-bottom: 60px;

   &.format-image {

      .entry-content,
      .entry-summary {
         text-align: center; 
      }
      img {
         margin: 30px auto;
         width: auto;
         max-width: 100%;
      }
   }
}

cite {
   display: block;
   font-family: @font-family-sans-serif;
   font-size: 0.7em;
   margin: 0 10px;
}


/* ==========================================================================
   Primary Content
   ========================================================================== */

.main {
}

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hero {
   width: 100%;
   height: 250px;
   overflow: hidden;
   margin-bottom: -35px;

   > img {
      width: 100%;
      height: auto;
   }
}

article {

   &:after {
      &:extend(h1:after);
      content: " ";
      border: 1px solid lighten(@cor-green, 20%);
      display: block;
      margin: 50px auto 0;
      width: 25%;
   }

   &:last-child:after {
      display: none;
   }

   > header {
      text-align: center;
      margin: 0 10% 30px;
   }
}

article .icon {
   font-size: 3em;
   display: block;
   margin: 0 auto;

   &:before {
      @padding: 17px;
      background: #fff;
      .border-radius(100%);
      display: inline-block;
      padding: @padding;
      margin-left: -(@padding);
   }
}

.entry-title {
   color: @cor-blue;
   font-family: @font-family-sans-serif;
   font-size: 2.8em;
}

.hentry header { }
.hentry time {
   font-family: @font-family-sans-serif;
   color: @gray-light;
   display: block;
   text-transform: uppercase;
}
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }

.entry-summary {
   font-size: 1.8em;
   margin: 0 10%;
}

.entry-content {
   &:extend(.entry-summary);
   border-bottom: solid 2px @gray-lighter;
   padding-bottom: 30px;
   margin-bottom: 40px;
}

section {
   &:extend(.entry-summary);

   &.no-results,
   &.four-oh-four {
      margin: 60px 0;
      text-align: center;

      .icon {
         font-size: 2em;
         margin-bottom: 30px;
      }
   }
}


.tags,
.content #ssba {
   margin: 50px 10%;
   text-align: center;
   border-top: 1px solid @gray-light;
   padding: 30px;

   a#ssba_tooptip {
      display: none !important;
      & > span {
         display: none !important;
      }
   }
}

.thumbnail {
   border: none;
   

   > img {
      max-width: 100%;
      width: auto;
   }
}


.content #ssba {

   padding-bottom: 0;

   &:before {
      content: "\Tell all your friends:";
      font-family: @font-family-sans-serif;
      font-size: 0.7em;
      display: block;
   }

   a {
      background-color: @cor-orange;
      color: #fff;
      font-size: 1.4em;
      padding: 20px;
      margin: 10px;
      transition: background-color 300ms linear;


      &:hover {
         background-color: lighten(@cor-orange, 20%);
         color: #fff;
      }

   }
   
}


/* ==========================================================================
   Comments
   ========================================================================== */

#respond {
   position: relative;
   &:extend(.entry-summary);
   & > h3 {
      color: @cor-blue;
   }
}


#comments {
   &:extend(.entry-summary);
   font-size: 1.8em;
   margin-bottom: 40px;
   padding-bottom: 30px;
   border-bottom: 1px solid @gray-light;

   > h3 {
      margin-bottom: 30px;
      color: @cor-blue;
   }
}

.cancel-comment-reply a {
   position: absolute;
   top: -14px;
   right: -31px;
   visibility: hidden;

   &:after {
      font-family: 'cor-rine-icons';
      display: inline-block;
      content: "\e658";
      margin-right: 5px;
      visibility: visible;
   }
}


.avatar { .border-radius(100%); }

.media-list #respond {
   font-size: 1em;
}

.media {
   margin-top: 35px;
}

.media-body {
   position: relative;
}

.media-heading {
   display: inline-block;
   font-size: 0.8em;
   margin: 18px 0;
}

.media-meta {
   font-size: 0.5em;
   text-align: right;
   display: block;
   position: absolute;
   top: 20px;
   right: 0;

   > p {
      font-family: @font-family-sans-serif;
   }
}


/* ==========================================================================
   Footer
   ========================================================================== */

footer {
   a {
      color: darken(@cor-green, 10%);
      transition: color 300ms linear;

      &:hover {
         color: @cor-green;
      }
   }

   h4 {
      text-align: center;
   }
}


footer.container {
   background-color: lighten(@cor-green, 20%);
   padding: 60px 60px 15px;
   margin: 60px 0 0;

   .box:after {
      &:extend(h1:after);
      content: " ";
      border-bottom: 1px solid darken(@cor-green, 20%);
      display: block;
      margin: 20px auto 20px;
      width: 25%;
   }
}

.social {
   text-align: center;
   a {
      font-size: 1.6em;
      margin: 6px;

      &:before {
         
      }
   }
}

.box ul {
   &:extend(.navbar-nav);
   float: none;
   list-style: none;
   padding: 0;
   text-align: center;
   .clearfix();

   li {
      display: inline-block;
      a {
         display: inline;
         padding: 10px 15px;

         .icon {
            display: inline-block;
            margin-right: 5px;
         }
      }
      &:last-child:after {
         display: none;
      }
      &:after {
         content: '\2022';
         display: inline;
         padding: 5px 0 0;
         webkit-font-smoothing: antialiased;
         vertical-align: top;
      }
   }

}

.copyright {
   display: block;
   font-family: @font-family-sans-serif;
   text-align: center;
   text-transform: uppercase;

   &.row {
      margin-top: 5px;
   }
}

.content-info { }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */


// ----------------------------------- Mobile/Tablet
@media all and (max-width:640px) {

   blockquote {
      font-size: 0.6em;
      padding: 30px;
   }

   .banner {
      margin: 0 2%;
      padding: 20px 0 20px;
   }

   .navbar-header .user-icon { width: 100px; }
}

// ----------------------------------- Mobile/Tablet
@media all and (max-width:767px) {

   input {
      -webkit-appearance: none;
      border-radius: none;
   }

   .navbar-default .navbar-toggle {
      top: 40px;
   }


   header > .container {
      position: relative;

      .navbar-nav {

         margin: 0;

         li {

            a {
               display: block;
               padding: 10px 0;
               margin: 10px;
            }

            &:after {
               display: none;
            }
         }

      }

      > nav {
         height: auto;
         text-align: right;

         
      }
   }
}

// ----------------------------------- Desktop
@media all and (min-width:768px) {

   .navbar-default .navbar-toggle {
      border-color: blue;
   }

}



/*
==============================================
compass-spin
==============================================
*/

.compass-spin{
   animation-name: compass-spin;
   -webkit-animation-name: compass-spin; 

   animation-duration: 1.7s;  
   -webkit-animation-duration: 1.7s;

   animation-iteration-count: infinite;
   -webkit-animation-iteration-count: infinite;
}

@keyframes compass-spin {
   0% {
      transform: rotate(-23deg);  
   }
   50% {
      transform: rotate(23deg);
   }
   100% {
      transform: rotate(-23deg);  
   }                 
}

@-webkit-keyframes compass-spin {
   0% {
      -webkit-transform: rotate(-23deg);   
   }
   50% {
      -webkit-transform: rotate(23deg);
   }
   100% {
      -webkit-transform: rotate(-23deg);   
   }           
}
